<form action="/orders" method="post">
  <label for="description">Add a new order</label>
  <input id="description" name="description" type="text">
  <label for="price">Price for the order:</label>
  <input id="price" name="price" type="text">
  <label for="day">Delivery date</label>
  <input id="day" name="day" type="text">
  <button type="submit">Submit</button>
</form>